@use '../../utils/styles.variables' as styles;
@use './SingleTask.module' as taskStyles;

.task {
  @include taskStyles.taskLayout;
  min-height: 100px;

  border: 2px dashed styles.$secondaryColor;
  background-color: styles.$contrastColor;
}