@use '../../utils/styles.variables' as styles;

.nav {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0.5rem 1rem;

  background-color: styles.$primaryColor;
  color: styles.$contrastColor;

  a {
    text-decoration: none;
    color: styles.$contrastColor;
  }

  .profile {
    margin-left: auto;
  }
}
